@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  background-color: #d8eefe;

  -webkit-text-size-adjust: 100%;
}

::-webkit-scrollbar {
  width: 16px;
  background-color: #f9f9f9;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 10px 10px #d5d9dd;
  border: solid 4px transparent;
}

body > iframe {
  display: none;
}

svg {
  width: 100%;
  height: 100%;
}

[id*='mermaid-'] {
  margin: 0 auto;
}
